.navbar {
    background-color: #008000;
    color: #fff;
}
.navbar-logo {
    height: 60px;
    margin-right: 15px;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}
.main {
    /*background-color: #33CC33;*/
    

    
    background-image: url(../images/yurucam_3.png);  
    background-position: center center; 
    background-repeat: no-repeat;  
    background-attachment: fixed; 
    background-size: cover;
    min-height: 90vh;
    padding: 30px 5%;
    
  
 }

.pagetitle {
    color: #fff;
    margin-bottom: 20px;
}
.footer {
    background-color: #008000;
    text-align: center;
}
.copyright {
    color: #fff;
}